@font-face {
	font-family: 'SourceSansPro-ExtraLight';
	src: url('../SourceSansPro-ExtraLight-webfont.eot');
	src: url('../SourceSansPro-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'), 
	     url('../SourceSansPro-ExtraLight-webfont.woff') format('woff'), 
	     url('../SourceSansPro-ExtraLight-webfont.ttf')  format('truetype'), 
	     url('../SourceSansPro-ExtraLight-webfont.svg#svgFontName') format('svg'); 
	}
     
  body.home, body.admin{
    /*font-family: SourceSansPro-ExtraLight, sans-serif;*/
    color: #333;

}
body, body p{
    /*font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Alegreya', serif;
    font-family: 'Armata', sans-serif;
    font-family: 'Varela', sans-serif;
    font-family: 'Roboto', sans-serif;*/
    font-family: 'Hind', sans-serif;
    font-size: 1.0em;
   
}

.form.pushdown{
    position: relative;
    top: 25px;
}
.form.pushup{
    position: relative;
    top: -85px;
    left: 35px;
}
.logname{
    color: #333;
    padding: 1px;
    position: relative;
    top: 6px;
}
.logname.usracct{
    position: relative;
    left: 205px;
}
p{
    color: #333;
}
.form ul li{
    list-style: none;
}
.workarea{
   
    /*background: #dbe4ed;*/
    background: url('../img/opaque_purple.png');
    background-repeat: repeat;
    position: relative;
    top: 20px;
    min-height: 500px;
 
}
.dash{
    position: relative;
    top: 40px;
   left: -20px;
}
.searchbox{
    height: 35px;
    width: 550px;
    border: 2px solid #ccc;
    margin-bottom: 10px;
    
}
.searchbutton{
    background: #1a5252;
/*font-family: SourceSansPro-ExtraLight, sans-serif;*/
font-size: 1.2em;
    padding: 6px;
    color: #fff;
    border: none;
    width: 65px;
    height: 40px;
}
ul.cates{
    position: relative;
    left: -25px;
    top: 15px;
}
ul.cates li{
    list-style: none;
}
ul.cates li a{
    line-height: 150%;
}

/*form styling*/
.form input#submit{
padding: 4px;
border: 1px solid #6c9;
background: #1a5252;

}

.form input{
margin-bottom: 4px;
border: 1px solid #eee;
background: #FDFEFE;

}
.form input:focus,.form select:focus {
border: 1px solid #09c;
}

.form label{
font-size: 1.1em;
color: #1a5252;
padding: 5px 5px 5px 0;
font-weight: normal;

}
label.error{
 font-size: 0.9em;
color: #1a5252; 
font-weight: normal;
}
.find, .form ul li input.find{
padding: 3px;
border: 1px solid #6c9;
color: #fff;
background: #1a5252;
/*font-family: SourceSansPro-ExtraLight, sans-serif;*/
font-size: 1.0em;

}
/*.login table{*/
.span3.login form{
    position: relative;
    left:60px;
    top:75px;
}
.ent{
    height: 30px;
    width: 205px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
    
}
.select, table td input, select{
    height: 26px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;
    
}
input{
    color: #669;
    
}

textarea{
    color: #669;
    height: 50px;
    width: 250px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.06);
    border: 1px solid #eee;  
}
form.signup{
    position: relative;
    top: 35px;

}
button{
    background: #724329;
    color: snow;
    border: none;
    padding: 5px;
    /*font-family: 'Roboto', sans-serif;*/
    font-size: 0.9em;
  
}
/*default links*/
a:link{
   text-decoration: none;
   color: purple;
}

a:visited{
    color: purple;
}

a:hover{
    color: #99c;
}

a:active{
    color: #99c; 
}

/**dash**/
.dash ul li{
    list-style: none;
    
}
.dash ul li a:link{
    color:#fff;
    padding: 5px;
    display: block;
    text-decoration: none;
    font-size: 1.1em;
    
}
.dash ul li a:visited{
    color:#fff;
    display: block;
}
.dash ul li a:hover{
    color:#ccc;
    background: url('../img/opaque_purple.png');
    background-repeat: repeat;
    text-decoration: none;
  
}
.dash ul li a:active{
    color:orange;   
}
.dash ul li#here a{
    color:#000;
    background: greenyellow;
    text-decoration: none;
   
}

p.acctname{
    font-size: 0.8em;
    color: snow;
    position: relative;
    left: 4px;
}
/**/

.workarea table{
    padding: 6px
}
.track td, .track th{
    border: 1px solid #ccc;
    padding: 6px;
}
.track th{
    border-left: none;
    border-right: none;
    border-top: none;
}
.topdetails{
    text-align:  center;
}
h3.ac{
    position: relative;
    top: -15px;
    font-weight: normal;
}
h2.ac{
    font-weight: normal;
}
tr.bolder th{
    font-size: 1.0em;
    padding: 6px;
}
tr.bolder td{
    font-size: 1.1em;
    padding: 6px;
    border: 1px solid #eee;
}


form ul.track li{
    list-style: none;
    padding: 3px
}

/*msgs*/
p.msg{
    color: snow;
    font-size: 1.3em;
    padding: 6px;
    color: peachpuff;
    font-weight: bold;
   
}
p.err{
    color: peachpuff;
    font-size: 1.3em;
   
     
}
/*paddings*/
.workarea form, table.table{
    padding: 11px
}

.logo{
    position: relative;
    top: 20px;
}


p.nom{
    font-size: 0.9em;
    color: purple;
}
select.min{
    min-width: 105px;
    padding: 4px
}
.grid_8.centr{
    position: relative;
    left: 100px;
}

ul.dash.ui-widget-content{
    position: relative;
    top: -15px;
}

table.ranks{
    position: relative;
    left: 12px;
}
table.ranks td{
    border: 1px solid #eee;
    padding: 6px 8px;
}
button.clear{
    margin-bottom: 20px;
    background: none;
    border: 1px solid orange;
    color: #333;
}

body.result{
    background: url('../img/result_bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
   
    /*font-family: SourceSansPro-ExtraLight, sans-serif;*/
    font-weight: bold;
    font-size: 0.9em;
    background-position-x: 65px;
}

div.acct{
    position: absolute;
    top: 32px;
    
}
div.acct a{
   text-decoration: none;
}
div.acct a.back{
    background: #eee;
    padding: 6px; 
  
}


input[type='text'], input[type='password'], input[type='email']{
    min-height: 30px;
    border-radius: 0;
    /*width: 90%*/
   
}
select{
    min-height: 35px;
    border-radius: 0;
    width: 100%
   
}
/** report card*/
table td.subs{
    border: 1px dotted #99c;
}
table td.peru{
    border: 1px dotted peru;
}


/*inputs size*/
input[type='text'], select, textarea{
    font-size: 1.0em;
}

/*analytics table*/
table.analytics tr td{
    padding: 6px;
    border: 1px dotted #99c;
}
table.analytics tr td.term{
    border: 1px dashed #333;
    color: darkred;
}
table.analytics tr td.bar{
    border: none;
    padding: 0;
}

/*result*/
table.result td.test{
    width: 30px !important;
}
table.result td.grade{
    min-width: 110px;
}

/*to parents*/
  body.admin.pins .wrappp p{
    color: #000;
    font-size: 1.4em;
    font-weight: normal;

}

      body.admin.pins p{
    padding: 9px;
    padding-left: 20px

}
     body.admin.pins p.heading{
    padding: 9px;
    padding-left: 20px;
    
    font-weight: bold;
    font-size: 1.2em

}
.wrappp{
    position:relative;
    top: 80px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    height: 470px;
}



.rec tr td {
    padding: 9px
}
label{
    font-weight: bold;
    font-size: 1.0em;
     
}


/*more styles on responsive version*/
table tr td{
    padding: 0 8px
}
table tr td label{
    padding: 0 8px;
   
}
select{
    min-height: 39px
}

/*input[type="submit"],select{
    margin-left: 5px;
     margin-right: 5px
}*/
input[type="submit"]{
    background: #333;
    background: #724329;
    color: snow;
    border: none;
    padding: 3px 6px;
    font-size: 0.9em;
}
div.paginator{
    font-size: 0.9em;
    position: relative;
    left: 25px;
}
div.paginator select{
    width: 55px;
 
   
}

 textarea.textarea {
     width: 70%;
     height: 125px;
    /*font-family: SourceSansPro-ExtraLight, sans-serif;*/
   
}



/*on mobile*/
@media (max-width: 640px) {
 
 body {
            background: url('../img/minibg.jpg');
            background-repeat: no-repeat; 
            background-attachment: fixed;
            background-size: cover;
          
 } 
 .container .row{
     padding-right: 30px
 }
         p.intro{
            color: palegoldenrod;
            font-size: 1.4em;
           margin-top: 85px;
           margin-left: 35px;
            line-height: 105%;
        } 
        button.hire{
            background: none;
            color: snow;
            padding: 9px;
            margin-top: 10px;
            border: 1px dashed palegoldenrod;
            font-size: 1.1em;
            margin-left: 35px;
        }
        div.mid{
            margin-top: 45px;
        }
     
 .form.login input{

     color: grey;
    
 }
 .form.login label{
     color: snow;
 }
 .form.login table{
     position: relative;
     top: 85px;
 }
 .dash ul.ui-widget-content{
     padding: 6px;
     width: 85%;
     margin-bottom: 45px;
     
 }
 ul.dash{
     position: relative;
     left: 1px;
 }
 table{
     overflow-x: auto;
     display: block;
 }
 
 p.nom{
     color: #ccc;
     position: relative;
     left: -15px;
     top: -25px;
     margin-left: 15px
 }
 div.paginator a:link{
     color: snow;
 }
 .mid.page .container{
   margin-top: 155px;
  
}

}
 .form label{
font-size: 1.1em;
color: snow;
padding: 5px 5px 5px 0;

}
img.avatar{
    position: absolute;
    top: 80px;
    left: 900px;
    margin-bottom: 15px;
    width: 121px;
    height: 140px;
}
p.nom{
    position: relative;
    left: 10px;
}
button.bio{
    position: relative;
    top: 5px;
}
button.print{
    position: relative;
    top: 1px;
}

.dash.ui-widget-content{
    background: none;
    border: none
}

.workarea, .workarea form.form label{
    color: snow;
}
input.photo{
    background: none;
    border: none;
}

/*on screen*/
@media (min-width: 900px) {
        img.bio{
      margin-top: 25px;
     
    }
    .dash ul{
    position: relative;
    top: 45px;
    left: 50px;
    }
    .logo img{
    position: relative;
    left: 40px;
}
        div.mid{
            margin-top: 20px;
        }
        .single ul.cates{
    margin-top: 49px;
}
.mid.page{
    position: relative;
    top: -125px;
}
ul.boldnav{
   padding: 0;
    margin: 0;
    position: relative;
    left: -6px;
}
}

ul li{
    list-style: none;
}
ul li select.min{
    width: 35%;
}
.logo img{
    position: relative;
    top: -20px;
}

/*nav*/
        .nav{
            position: relative;
            top: 40px;
        }
        .nav ul li{
            list-style: none;
            display: inline;
            padding: 6px;
        } 
        .nav ul li a:link{
            color: snow;
        } 
        .nav ul li a:visited{
            color: snow;
        } 
        .nav ul li a:hover{
            color: #ccc;
        } 
        .nav ul  a:active{
            color: snow;
        } 

/*datepicker*/
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */
/*body {
  padding: 4em;
  
}*/
label {
  display: block;
}
input {
  border: 1px solid #c4c4c4;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
}

      @media (min-width: 679px) { 
          div.mid{
            margin-top: 20px;
        }  
body .top{
            background: url('../img/topbg.jpg');
            background-repeat: no-repeat;  
            background-size: cover;
            background-position-y: -5px;
            height: 350px;
}

body.sign, body.admin{
            background: url('../img/signbg.jpg');
            background-repeat: no-repeat;  
            background-size: cover;
            background-attachment: fixed;
}
body.signup{
            background: url('../img/signupbg.jpg');
            background-repeat: no-repeat;  
            background-size: cover;
            background-attachment: fixed;
}

       .form.login table{
           position: relative;
           top: 100px;
           left: 25px;
    
 }
        
        p.intro{
            color: palegoldenrod;
            font-size: 1.55em;
           margin-top: 125px;
            line-height: 105%;
        } 
        button.hire{
            background: #724329;
            background: #f8fafb;
            background: none;
            color: snow;
            padding: 7px;
            margin-top: 10px;
            border: 1px dashed palegoldenrod;
            font-size: 1.0em;
            
        }
        
        
      }
      
      div.footer{
          margin-top: 85px;
          background: #333;
          background: url('../img/opaque_gold.png');
          background-repeat: repeat;
          min-height: 55px;
      }
      div.footer .row {
          position: relative;
          top: 15px;
      }
      
      
      div.userarea{
          background: palegoldenrod;
          min-height: 520px
      }
      
      textarea{
          border: none;
          border-radius: 0px
      }
      
      select{
          margin-bottom: 4px;
      }
      
      table.listing tr td.em{
          font-weight: bold;
          font-size: 1.2em;
          padding-bottom: 10px;
      }
      table.listing tr td.details{
          padding-top: 10px;
      }
      table.listing{
          margin-top: 25px;
        
      }
      
      table.listing td.apad{
          width: 400px;
      }
      ul.listing li{
          padding: 12px;
          
      }
      table.listing tr{
          padding-bottom: 15px;
      }
      
      
   
      .workspace{
          margin-top: 125px;
          font-size: 0.9em;
      }
      
      
      /*font-family: 'Kaushan Script', cursive;*/
      span.tinylogo{
          font-family: 'Kaushan Script', cursive;
      }
            span.logo{
          font-family: 'Kaushan Script', cursive;
          
      }
      .logo a:link{
          color: snow;
          font-size: 2.1em
      }
            .logo a:visited{
          color: snow;
           font-size: 2.1em
      }
            .logo a:hover{
          color: palegoldenrod;
           font-size: 2.1em
      }
           .logo a:active{
          color: palegoldenrod;
           font-size: 2.1em
      }
      
      /*on mobile -- footer override*/
@media (max-width: 640px) {
 

        div.footer{
            background: none;
        }
        div.footer .row {
    position: relative;
    left: 15px;
}
    /*cates*/
    ul.cates{
        position: relative;
        left: 1px;
        top: -10px;
        margin-top: 45px;
    }
    ul.cates li {
        list-style: none;
        padding: 3px 3px 3px 15px;
        
    } 
    
    img.bio{
        width: 221px;
        height: 221px;
    }
    ul.listing li{
        overflow-y: hidden;
    }
    
    ul.boldnav{
        position: relative;
        left: -35px;
    }
/*ul.cates li a:link{
   color: palegreen; 
   
}
ul.cates li a:visited{
    color: palegreen;
}
ul.cates li a:hover{
    color: #333;
}
ul.cates li a:active{
   color: #000; 
}  */

 
}


.table tr td, .table th{
    border: none;
}
table.sign tr td a:link{
    color: palegoldenrod;
}
table.sign tr td a:visited{
    color: palegoldenrod;
}
table.sign tr td a:hover{
    color: #6c9;
}
table.sign tr td a:active{
    color: #6c9;
}



/*sinlge page*/

.mid.page .container{
/*    background: paleturquoise;
*/    min-height: 590px;
    /*background: url('../img/lancer.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;*/
}

.mid.page .container .l{
    background: paleturquoise;
     min-height: 600px;
}


.nicEdit-panel{
    width: 125%;
}


ul.boldnav li{
    display: inline;
    padding: 9px;
}

button.bl{
    padding: 8px;
    border: 1px solid #000;
    
    position: relative;
    top: 3px;
}

.pool select.search{
    width: 130%;
    margin-top: 45px;
    
}
button.search{
        margin-top: 45px;
        padding: 9px
}

ul.bio li{
    line-height: 125%;
}
.bio p{
    padding: 25px;
}

body.single ul.boldnav{
    position: relative;
    top: 75px;
}

ul.sign li label{
    color: snow;
    font-size: 1.0em;
}

ul.sign{
    position: relative;
    top: 110px;
}

#textarea{
    margin-bottom: 6px;
}

span.me{
    position: relative;
    top: 55px;
    
}
span.me p{
    padding: 15px 25px;
}